<center>

  <%= link_to "HOME", root_path %>
  <br>

<h1> ALL THE BEERS </h1>

<% if @beers.blank? %>
  <h4>Sorry, didn't find <%= params[:search] %>.</h4>
<% end %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort_link "name"%></th>
    <th><%= sort_link "brewer"%></th>
    <th><%= sort_link "price"%></th>
    <th><%= sort_link "ounce"%></th>
    <th><%= sort_link "calorie"%></th>
    <th><%= sort_link "abv"%></th>
    <th><%= sort_link "rating"%></th>
    <th><%= sort_link "pack"%></th>
    <th><%= sort_link "abv_per_cal"%></th>
    <th><%= sort_link "abv_per_price"%></th>
    <th><%= sort_link "calorie_per_ounce"%></th>
    <th><%= sort_link "calorie_per_price"%></th>
  </tr>

  <% @beers.each do |beer| %>
    <tr>
      <td><%= beer.name %></td>
      <td><%= beer.brewer %></td>
      <td>$<%= beer.price.to_f / 100 %></td>
      <td><%= beer.ounce %></td>
      <td><%= beer.calorie %></td>
      <td><%= beer.abv.to_f / 10 %>%</td>
      <td><%= beer.rating %></td>
      <td><%= beer.pack %></td>
      <td><%= beer.abv_per_cal %></td>
      <td><%= beer.abv_per_price %></td>
      <td><%= beer.calorie_per_ounce %></td>
      <td><%= beer.calorie_per_price %></td>
      <td><%= link_to 'Show', beer_path(beer) %></td>
      <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
      <td><%= link_to 'Destroy', beer_path(beer),
              method: :delete,
              data: { confirm: 'OK, well, just be careful.' } %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to "HOME", root_path %>   <br>   <%= link_to 'GOT A NEW BEER?', new_beer_path %>
<br>
<%= link_to "BACK TO ALL THE BEERS", beers_path %>  <br>

<% if user_signed_in? %>
  <%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to 'SIGN IN', new_user_session_path %>
<% end %>

</center>
