<center>

<h2> NOW PRESENTING: </h2>
<h1 id="fronttitle"><%= "#{@beer.name}" %></h1>
<p> from <h3 id="fronttitle"><%= "#{@beer.brewer}" %> </h3>

<p>
  <strong>Price</strong><br>
  $<%= @beer.price.to_f / 100 %>
</p>

<p>
  <strong>Ounces</strong><br>
  <%= @beer.ounce %>
</p>

<p>
  <strong>Calories</strong><br>
  <%= @beer.calorie %>
</p>

<p><strong>ABV</strong><br>
  <%= @beer.abv.to_f / 10 %>%
</p>

<p>
  <strong>Rating</strong><br>
  <%= @beer.rating %>
</p>

<p>
  <strong>Serving Size</strong><br>
  <%= @beer.pack %>
</p>

<% this_brewer = @beer.brewer %><br>
<% this_brewer << " Brewery" %><br>
<% brewer_geocode = HTTParty.get("https://maps.googleapis.com/maps/api/geocode/json?address=#{this_brewer}") %>
<% location_map = "https://www.google.com/maps/embed/v1/place?q=place_id:ChIJN1t_tDeuEmsRUsoyG83frY4&key=#{ENV["GOOGLE_MONSTER_MAPS_KEY"]}" %>
<h3> Click the map for directions to <%= "#{@beer.brewer}" %> </h3>

<br>
<h4 id="comment_header">AND COMMENTS </h4>

<%= render @beer.reviews %>
<br>
<h4 id="comment_header"> ADD A REVIEW? </h4>
<%= render 'reviews/form' %>

<%= link_to "BACK TO ALL THE BEERS", beers_path %>  <br>
<%= link_to "GOT A NEW BEER?", new_beer_path %> <br>
<%= link_to "EDIT THIS BEER", edit_beer_path %> <br>

<% if user_signed_in? %>
  <%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to 'SIGN IN', new_user_session_path %>
<% end %>
<br>
