<center>

<h1> NOW PRESENTING: BEER NO. <%= "#{@beer.id}" %></h1>

<p>
  <strong>Name</strong><br>
  <%= @beer.name %>
</p>

<p>
  <strong>Brewer</strong><br>
  <%= @beer.brewer %>
</p>

<p>
  <strong>Price</strong><br>
  <%= @beer.price %>
</p>

<p>
  <strong>Ounces</strong><br>
  <%= @beer.ounce %>
</p>

<p>
  <strong>Calories</strong><br>
  <%= @beer.calorie %>
</p>

<p>
  <strong>Rating</strong><br>
  <%= @beer.rating %>
</p>

  <h3> ADD A REVIEW? </h3>
  <%= form_for([@beer, @beer.reviews.build]) do |f| %>
    <p>
      <%= f.label :reviewer %> <br>
      <%= f.text_field :reviewer %>
    </p>

    <p>
      <%= f.label :body %> <br>
      <%= f.text_area :body %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>

<%= link_to "BACK", beers_path %>  |  <%= link_to "GOT A NEW BEER?", new_beer_path %>
  |  <%= link_to "EDIT THIS BEER", edit_beer_path %>
