<center>

<h1> NOW PRESENTING: BEER NO. <%= "#{@beer.id}" %></h1>

<p>
  <strong>Name</strong><br>
  <%= @beer.name %>
</p>

<p>
  <strong>Brewer</strong><br>
  <%= @beer.brewer %>
</p>

<p>
  <strong>Price</strong><br>
  <%= @beer.price %>
</p>

<p>
  <strong>Ounces</strong><br>
  <%= @beer.ounce %>
</p>

<p>
  <strong>Calories</strong><br>
  <%= @beer.calorie %>
</p>

<p>
  <strong>Rating</strong><br>
  <%= @beer.rating %>
</p>
<br>
<h4 id="comment_header">AND COMMENTS </h4>

<%= render @beer.reviews %>

<h4 id="comment_header"> ADD A REVIEW? </h4>
<%= render 'reviews/form' %>

<%= link_to "BACK TO ALL THE BEERS", beers_path %>  <br>  <%= link_to "GOT A NEW BEER?", new_beer_path %>
  <br>  <%= link_to "EDIT THIS BEER", edit_beer_path %>
<br>
<% if user_signed_in? %>
  <%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to 'SIGN IN', new_user_session_path %>
<% end %>
