<center>

<p>Dashboards#index</p>
<p>Find me in app/views/dashboards/index.html.erb</p>

<p>
<h3>
  Right now, the best beer is
  <p><h1><div class="bestbeer"><%= (Beer.order("abv_per_cal DESC").first).name %></div></h1></p>
  <h3>with <div class="bestbeer"><%= Beer.maximum(:abv_per_cal) %> ABV per calorie.</div></h3>
</h3>
</p>
<br>
<%= link_to "SEE ALL THE BEERS", beers_path %>  <br>
<% if user_signed_in? %>
  <%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to 'SIGN IN', new_user_session_path %>
<% end %>

<br>
<%= link_to "SIGN UP", new_user_registration_path %>
</center>
